.modal-window-background {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-window {
    width: 516px;
    height: 252px;
    background-color: #e74c3c;
    border-radius: 5px;

}

.header-holder {
    background-color: #d44637;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.header-text {
    font-size: 22px;
    color: white;
    margin-left: 30px;
}

.btn-cross {
    background-color: #d44637;
    border: 0;
    padding: 0;
    border-radius: 0 5px 0 0;
    margin-right: 30px;
}

.img-cross:hover {
    transform: scale(1.2);
}

.body-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.body-text {
    text-align: center;
    color: white;
}

.action-button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.action-button {
    color: white;
    width: 101px;
    height: 41px;
    border: 0;
    background-color: #b3382c;
    border-radius: 5px;
    margin-right: 10px;
}

.modal-button {
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin: 50px;
}
