.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-to-pages {
    font-size: 20px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: #282c34;
    color: white;
    padding: 10px;
    margin: 0 30px;
    border-radius: 3px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}