*{
    margin: 0;
    padding: 0;
}
.container{
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    height: 100vh;
}
.navigation{
    height: 56px;
    background:rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 81px;
}
.logo > a{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.logo > a:hover{
    color: #3cb878;
}

.nav-links{
    margin-right: 81px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}
.image-links-holder{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    margin-right: 25px;
}

.nav-vertical-line{
    background: rgba(255,255,255, 0.5);
    width: 1px;
    height: 19px;
    margin-right: 25px;
}
.regular-links-holder{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}
.welcome{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin-right: 3px;
    color: white;
}
.login{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin-right: 3px;
    color: #3cb878;
    text-decoration: none;
}
.login:hover{
    text-decoration: underline;
}
.or{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin-right: 3px;
    color: white;
}
.sign-up{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    margin-right: 3px;
    color: #3cb878;
    text-decoration: none;
}
.sign-up:hover{
    text-decoration: underline;
}

.calendar {
    background: url("../img/calendar.png") no-repeat;
    background-size: cover;
    width: 19px;
    height: 19px;
    display: block;
    margin-right: 28px;
    transition: transform 0.5s;
}
.calendar:hover{
    transform: scale(1.2);
}
.forum {
    background: url("../img/forum.png") no-repeat;
    background-size: cover;
    width: 28px;
    height: 20px;
    display: block;
    margin-right: 28px;
    transition: transform 0.5s;
}
.forum:hover{
    transform: scale(1.2);
}

.journey {
    background: url("../img/journey.png") no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;
    transition: transform 0.5s;
}
.journey:hover{
    transform: scale(1.2);
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 584px;
    width: 444px;
    background-color: white;
    border-radius: 1.5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 29px;
    margin-bottom: 15px;
    position: relative;
}
.main-header::before{
    content: "";
    background-color: #3cb878;
    height: 18px;
    width: 18px;
    position: absolute;
    left: -60px;
}
.main-sign-up{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    margin-right: 201px;
}
.main-log-in{
    font-size: 14px;
    color: #3cb878;
    font-family: Verdana, sans-serif;
    text-decoration: none;
}
.main-log-in:hover{
    text-decoration: underline;
}

.social{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 37px;
}
.btn-facebook{
    background-color: #305db8;
    width: 157px;
    height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 3px;
    margin-right: 8px;
}
.btn-google{
    background-color: #df4a32;
    width: 157px;
    height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 3px;
}
.fb{
    color: white;
}

.small-line-f{
    background-color: #2b54a5;
    height: 28px;
    width: 1px;
}
.socials-text{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: white;
}
.small-line-g{
    background-color: #c8422d;
    height: 28px;
    width: 1px;
}

.or-text-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    
}
.line-hor{
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
}
.or-text{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: #adadad;
    margin-left: 18px;
    margin-right: 18px;
}




.register{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 304px;
    height: 46px;
    margin-bottom: 9px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    color: black;
    font-size: 14px;
    padding-left: 18px;
    font-weight: normal;
    font-family: Verdana, sans-serif;

}
.input::placeholder{
    color: #c7c7c7;
    font-size: 14px;
    font-weight: normal;
    font-family: Verdana, sans-serif;
}
.input:hover{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.input:focus{
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.psw2{
    margin-bottom: 19px;
}

.checkbox-holder{
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 19px;
}

.check-it{
    color: #329a65;
}

label{
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: black;
}
.terms{
    color: #3cb878;
    text-decoration: none;
    width: 20px;
    height: 20px;
}

.submit{
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: white;
    width: 322px;
    height: 46px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 0;
    border-radius: 3px;
    background-color: #329a65;
}


input[type=checkbox]:not(old){
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}

input[type=checkbox]:not(old) + label{
    display      : inline-block;
    margin-left  : -28px;
    padding-left : 28px;
    background   : url('../img/checks.png') no-repeat 0 0;
    line-height  : 24px;
}

input[type=checkbox]:not(old):checked + label{
    background-position : 0 -24px;
}


