.modal-window-background {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-window {
    width: 516px;
    height: 150px;
    background-color: #607D8B;
    border-radius: 5px;

}

.header-holder {
    background-color: #455A64;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}

.header-text {
    font-size: 22px;
    color: white;
    margin-left: 30px;
}


.body-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.body-text {
    text-align: center;
    color: white;
}

.action-button-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.action-button {
    color: white;
    width: 101px;
    height: 41px;
    border: 0;
    background-color: #455A64;
    border-radius: 5px;
    margin-right: 10px;

}
