.product-card-holder {
    border-radius: 4px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 13px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.img-holder {
    border: 1px solid #121217;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    height: 230px;
    width: 230px;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.img {
    height: 230px;
    width: 230px;
    border-radius: 2px;
}

.product-info-holder {
    width: 230px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;

}

.product-title-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -10px;
}

.product-title {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding: 0;
    margin-right: 20px;
}

.fa-star {
    color: #cccccc;
    /*color: #ffd11a;*/
    cursor: pointer;
}

.product-description {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.price-holder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.price-tag {
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.add-to-cart {
    width: 85px;
    height: 26px;
    background-color: #1e1e20;
    text-transform: uppercase;
    color: #c0c0c0;
    font-size: 10px;
    border-radius: 3px;
    border: 0;
    font-weight: bold;
}