*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    font-size: 80pt;
    font-family:  Arial;
    margin-bottom: 45px;
}
.logo > a{
    text-decoration: none;
    color: black;
}
.navigation{
    background-color: #35444f;
    height: 70px;
    text-align: center;
}
.nav-list{
    display: inline-block;
    margin-top: 21px;

}
.nav-menu{
    padding: 21px 20px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial;
}
.nav-menu:hover{
    background-color: #222f3a;
}


.content{
    margin: 51px auto;
}

.link{
    width: 344px;
    height: 398px;
    border: 2px solid #35444f;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.nav-link{
    display: block;
    color: #495863;
    font-size: 20pt;
    text-decoration: none;
    padding: 7% 30px;

}
.nav-link:hover{
    background: #dbdbdb;
    padding-left: 50px;
    color: black;
}
.article{
    display: inline-block;
    vertical-align: top;
    width: 885px;
}
.picture{
    display: table;
    width: 885px;
    height: 529px;
    border: 2px solid #35444f;

}
.ramda-div{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.ramda{
    transition: transform .2s;
}
.ramda:hover{
    transform: scale(1.1);
}

.text{
    width: 815px;
    margin: 50px auto;
}
.paragraph{
    margin: 30px 0;
}
.footer{
    background-color: #b4b7ba;
    height: 70px;
}
.foot-list {
    display: inline-block;
    margin-top: 19px;
}
.foot-menu{
    padding: 21px 20px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial;
}
.foot-menu:hover{
    color: #3181a6;
    text-decoration: underline;
}

.copy-text{
    display: inline;
    font-size: 20pt;
    margin-left: 160px;
}





