*{
    margin: 0;
    padding: 0;
}
.container{
    background: url("../img/ham-background.png") no-repeat fixed;
    background-size: cover;
    width: 100%;
}
.navigation{
    height: 120px;
    background:rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 16px;
}

.logo-link{
    text-decoration: none;
    color: white;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;

}

.logo-h{
    font-family: Montserrat-Bold, sans-serif;
    width: 59px;
    height: 33px;
    background-color: #18cfab;
    font-size: 40px;
    position: relative;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-h::before{
    content: "";
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    bottom: 100%;
    left: 0%;
    border-bottom: 17px solid #18cfab;
}
.logo-h::after {
    content: "";
    position: absolute;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: 100%;
    left: 0%;
    border-top: 17px solid #18cfab;
}

.logo-ham{
    font-family: Montserrat-Bold, sans-serif;
    color: #18cfab;
    margin-left: 3px;
}


.nav-links{
    width: 644px;
    display: flex;
    justify-content: space-around;

}

.nav-link-item{
    text-decoration: none;
    color: #b8b8b8;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    padding: 52px 0;

}
.nav-link-item:hover{
    box-shadow: 0px 2px 0px 0px #18cfab;
    color: #18cfab;
}

.slogan-holder{
    width: 100%;
    height: 892px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.slogan-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-slogan{
    font-size: 35px;
    font-family: Montserrat-Bold,sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 45px;
}
.middle-slogan{
    font-size: 70px;
    font-family: Montserrat-Bold,sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 36px;
}
.bottom-slogan{
    font-size: 30px;
    color: #d4d4d4;
    margin-bottom: 142px;
    font-family: Montserrat,sans-serif;
    text-align: center;
}
.explore-button{
    width: 166px;
    height: 61px;
    background-color: #18cfab;
    margin-right: 28px;
    cursor: pointer;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px -3px 0px 0px rgba(255,255,255,1);
}
.purchase-button{
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    cursor: pointer;
    font-family: Montserrat-Bold, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px -3px 0px 0px rgba(255,255,255,1);
}


.squares-holder{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.square-item-odd{
    width: 25%;
    height: 374px;
    background-color: #1c2a33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 7px solid #18cfab;
}
.square-item-even{
    width: 25%;
    height: 374px;
    background-color: #18cfab;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 7px solid white;
}

.square-item-img{
    margin-bottom: 48px;
    height: 97px;
}

.square-item-text-odd{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #18cfab;
}
.square-item-text-even{
    font-family: Montserrat-Bold, sans-serif;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.our-services-holder{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-services-text{
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    position: relative;
}

.our-services-title{
    margin-top: 82px;
    margin-bottom: 112px;
}
.our-services-text::before {
    content: " ";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 74px;
    left: 80px;
}

.our-services-text::after{
    content: " ";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 78px;
    left: 89px;

}

.our-services-links{
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    position: relative;
    margin-bottom: 24px;
}

.our-service-link-item{
    width: calc(100% / 6);
    padding: 28px 0;
    background-color: #f8fcfe;
    text-align: center;
    font-family: Montserrat-, sans-serif;
    font-size: 16px;
    color: #717171;
    border: 1px solid #ebebeb;
    user-select: none;
    cursor: pointer;
}

.clicked-service-item{
    width: calc(100% / 6);
    padding: 28px 0;
    text-align: center;
    font-family: Montserrat-, sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid #18cfab;
    cursor: pointer;
    background-color: #18cfab;
    user-select: none;
}
.clicked-service-item::after{
    content: " ";
    position: absolute;
    margin-top: 45px;
    margin-left: -70px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18cfab;
}

.our-services-descriptions{
    width: 1160px;
    display: flex;
    flex-direction: column;

}

.our-service-description-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 103px;
}

.description-pic{
    width: 192px;
    height: 139px;
    margin-right: 20px;
    border: 1px solid #ebebeb;
}
.description-text{
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    color: #717171;
}



.everything-ready-holder{
    margin: 0;
    height: 475px;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
    url("../img/everything-ready-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.everything-ready-title{
    font-size: 40px;
    font-family: Montserrat-Bold, sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #18cfab;
    margin-bottom: 35px;

}
.everything-ready-text{
    font-size: 16px;
    font-family: Montserrat-Bold, sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}


.our-amazing-holder{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-amazing-text{
    text-align: center;
    color: #4e4e4e;
    font-size: 36px;
    font-family: Montserrat, sans-serif;
    position: relative;
}

.our-amazing-title{
    margin-top: 82px;
    margin-bottom: 112px;
}
.our-amazing-text::before {
    content: " ";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 74px;
    left: 130px;
}

.our-amazing-text::after{
    content: " ";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 78px;
    left: 140px;

}

.our-amazing-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    position: relative;
    margin-bottom: 71px;
}

.our-amazing-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 21px;
    background-color: #f8fcfe;
    text-align: center;
    font-family: Montserrat-, sans-serif;
    font-size: 16px;
    color: #717171;
    border: 1px solid #ebebeb;
    cursor: pointer;
    user-select: none;
}

.clicked-amazing-link-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 21px;
    background-color: #f8fcfe;
    text-align: center;
    font-family: Montserrat-, sans-serif;
    font-size: 16px;
    color: #18cfab;
    border: 1px solid #ebebeb;
    cursor: pointer;
    user-select: none;
    box-shadow: 0px -2px 0px 0px #18cfab;
}


.our-amazing-gallery-holder{
    width: 1160px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.our-amazing-gallery-item{
    margin-bottom: -4px;
    padding: 0;
    position: relative;
}

.our-amazing-pic{
    width: calc(1160px / 4);
    height: 208px;
    margin: 0px;
    padding: 0;
}

.our-amazing-button{
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    font-size: 14px;
    color: white;
    font-family: Montserrat-Bold, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 3px;
    margin-bottom: 100px;
}

.fa-plus{
    margin-right: 10px;
}



.foot{
    background-color: #22353f;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text{
    color: #aeaeae;
    font-family: Montserrat, sans-serif;
    font-size: 14px;

}



.gallery-hover-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px -3px 0px 0px #18cfab;
}
.gallery-hover-title{
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat, sans-serif;
    color: #18cfab;
}
.gallery-hover-category {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat-Bold, sans-serif;
    color: #8a8a8a;
}

.share-holder{
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-holder{
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-hover-img{
    width: 15px;
    height: 15px;
}
















